*{
    box-sizing: border-box;
}

.navbarContainer{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-color: none;
    z-index: 10;
    margin-bottom: -150px;
    overflow: hidden;
    padding-top: 60px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 64px;  

}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    color: #ffffff;
    background-color: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
}

.logo img{
    width: 183px;
    height: 64px;
    background-color: none;
}